[2019-04-30 13:48] dwillis commented on #225
This is fixed now.

[2019-04-30 13:48] #225 closed, assigned to nobody

[2019-05-03 19:02] dwillis commented on #224
@ndawg Do you have an example request where this is occurring? I haven't been able to reproduce.

[2019-05-03 19:37] #217 closed, assigned to dwillis

[2019-05-24 00:25] Nhorning opened #226 "Missing Position Data for 113th house session 2 (2014)"
For the 113th congress, house session 2 in 2014 position data is missing for roll calls 12 - 19, 38, and 39.

empty lists are returned.  Navigating to the relevant url reveals the data is present in the source xml.

[2019-05-24 13:27] ndawg commented on #224
@dwillis The [request I linked](https://projects.propublica.org/api-docs/congress-api/bills/#get-amendments-for-a-specific-bill) has an example under "Example Call" on the page.
[code]

[2019-05-24 15:59] dwillis commented on #224
@ndawg Ok, thanks. The bill amendments requests should now return the two-character state abbreviation now, and we'll update the docs.

[2019-05-24 18:24] dwillis commented on #226
@Nhorning Thanks for this - we've loaded those positions now.

[2019-05-27 23:48] Nhorning commented on #226
@dwillis Thanks for being so responsive!  I also noticed missing data for house session 111 (2009)
roll calls: 414, 987, 990
https://github.com/Nhorning/Congressional_Survival/blob/master/Data%20Wrangling.ipynb

[2019-05-28 00:18] Nhorning commented on #226
It's also still missing data in house session 113 session 2. Now for calls 2 and 338. But that's quite an improvement from before!

[2019-05-30 03:08] #224 closed, assigned to dwillis

[2019-05-30 14:12] dwillis commented on #226
@Nhorning Thanks - these should be resolved now.

[2019-06-11 07:44] amusse opened #227 "500 Internal Server Error on all api endpoints"
I've tried:

GET https://api.propublica.org/congress/v1/senate/votes/2019/06.json
   x-amzn-RequestId →1fb4db6e-8c1c-11e9-b135-83aac5dc2772
GET https://api.propublica.org/congress/v1/116/bills/sres212.json
   x-amzn-RequestId →f60db68f-8c1b-11e9-ab36-c51e916f9346
GET https://api.propublica.org/congress/v1/members/S000510.json
   x-amzn-RequestId →0b5e8f71-8c1c-11e9-b993-6bcd13382c8f

All the endpo

[2019-06-11 16:10] amusse commented on #227
Just began working again this morning.

[2019-06-11 16:10] #227 closed, assigned to nobody

[2019-07-17 13:10] danigrant opened #228 "The endpoint api.propublica.org/congress/v1/ falsely returns a 403"
When you get started with the API, you try to check that you can make requests against the endpoint. However, when you make a request against the endpoint https://api.propublica.org/congress/v1/ you get back 403: Missing Authentication Token. This is extremely confusing and misleading because that's actually not true. Instead it would be great if it could return a 404 because there is nothing at t

[2019-07-17 13:43] dwillis commented on #228
@danigrant Thanks very much. It seems like the language that prefaces that section isn't clear enough when it says that "All requests begin with: https://api.propublica.org/congress/v1/". Because https://api.propublica.org/congress/v1/ isn't a valid request, it's not an actual endpoint to be tried. Am open to suggestions on ways to clarify this.

[2019-07-19 03:12] evaus opened #229 "500 Internal Server Error on Nominations Endpoint"
This was working fine for me till a few minutes ago. Not sure what's wrong, but here is my request:

https://api.propublica.org/congress/v1/116/nominees/PN720.json

And here are the headers I'm getting back (along with an HTTP 500 error code):

{'Date': 'Fri, 19 Jul 2019 02:59:23 GMT', 'X-Amz-Cf-Id': 'YeSHWxR-f7cnIXvbIqn0tdqQ8g7m5H27CYqOnxWxHJUzj1IyvLb3uw==', 'X-Amz-Cf-Pop': 'IAD53', 'Via': '1.1 4

[2019-07-19 03:15] evaus commented on #229
It's working again now. Maybe there was an update underway or something?

[2019-07-19 03:15] #229 closed, assigned to nobody

[2019-07-25 11:48] zamorarr opened #230 "Pagination for New Members"
Great API! Thanks for making this. It looks like the [New Members](https://projects.propublica.org/api-docs/congress-api/members/#get-new-members) endpoint is not respecting the `offset` parameter. It is supposed to? The following queries return the same 20 results.

[code]

[code]

There are more than 20 new members of the 116th congress though.

[2019-07-25 12:05] dwillis commented on #230
@zamorarr Hi Robert. New members doesn't refer to all members of a new class; it only returns the most recent 20 members of Congress in reverse chronological order. You can grab all freshmen from the all House members response and filter on those with seniority of 1.

[2019-07-25 13:00] zamorarr commented on #230
Gotcha. Thanks for the clarification!

[2019-07-25 13:00] #230 closed, assigned to dwillis

[2019-07-27 11:50] zamorarr opened #231 "Endpoint returns 200 instead of status"
Hi - thanks for the great API! Currently the [Get Recent Bills by a Specific Subject](https://projects.propublica.org/api-docs/congress-api/bills/#get-recent-bills-by-a-specific-subject) endpoint returns json that look like this:

[code]

[code]

These results are fine, but the use of `"200": "OK"` seems inconsistent with all other endpoints, which use `"status": "OK"` instead. Is is possible to c

[2019-07-27 22:09] njgingrich opened #232 "Invalid endpoint returns 403 instead of 404"
Seems related to #228.

Was testing out some endpoints, and the endpoint `https://api.propublica.org/congress/v1/116/senate/floor_updates/2017/05/02.json` returns a 403, with the following response:

[code]

The correct endpoint is `https://api.propublica.org/congress/v1/senate/floor_updates/2017/05/02.json`, without the current congress parameter (116).

It would make more sense in my mind for th

[2019-07-31 01:16] njgingrich opened #233 "/:chamber/floor_updates.json has 'date' parameter in docs response, but not in actual"
[This page](https://projects.propublica.org/api-docs/congress-api/other/#get-recent-house-and-senate-floor-actions) has `date` within its example response:

[code]

But the actual response from `https://api.propublica.org/congress/v1/116/senate/floor_updates.json` does not:

[code]

Also, the `congress` parameter has no effect - `https://api.propublica.org/congress/v1/116/senate/floor_updates.json

[2019-07-31 01:21] #226 closed, assigned to dwillis

[2019-08-06 17:32] hrecht opened #234 "Parameters/pagination for member vote positions"
Hello, I'm trying to get data for a member's votes back to a certain date/term, say two years, using the member votes endpoint.
https://projects.propublica.org/api-docs/congress-api/members/#get-a-specific-members-vote-positions

Is there any way to specify a range of dates or congressional terms to get data for? Or information in the response about number of pages available (maybe I'm overlooking

[2019-08-07 18:57] russellsamora opened #235 "duplicate members on roll call vote positions"
For example:
{ congress: '115', chamber: 'House', session: '1', roll_call: '1'}

Tulsi Gabbard (G000571) is returned 3 times in the positions array.

[2019-08-07 20:46] dwillis commented on #235
@russellgoldenberg I just pulled this url from the API: https://api.propublica.org/congress/v1/115/house/sessions/1/votes/1.json

I only see Gabbard listed once. Can you check again that this the URL that's causing issues for you?

[2019-08-07 20:58] russellsamora commented on #235
logged url: https://api.propublica.org/congress/v1/115/House/sessions/1/votes/1.json
saved result straight to disk: https://gist.github.com/russellgoldenberg/de3486ec780c776c924a829fd8780ec9

Using the request library with Node. Can share code if helpful.

[2019-08-08 00:16] dwillis commented on #235
@russellgoldenberg Gotcha, I see it. Should be fixed shortly.

[2019-08-08 15:15] dwillis commented on #234
@hrecht Yeah, you're right in that currently the only way to do this is to paginate through a member's positions. The response does offer a `total_votes` attribute, which you can divide by 20 to get the number of pages. Would that help?

[2019-08-08 15:52] hrecht commented on #234
That would work! I'm not seeing the total_votes attribute though - which part of the response should it be in?

[2019-08-08 16:08] hrecht commented on #234
Here's the output that I get using the example call
`curl "https://api.propublica.org/congress/v1/members/K000388/votes.json"
  -H "X-API-Key: PROPUBLICA_API_KEY"`
[temp.json.zip](https://github.com/propublica/congress-api-docs/files/3482658/temp.json.zip)

[2019-08-09 00:22] dwillis commented on #234
Hmm, yeah. Not sure when `total_votes` got dropped, but lemme get it back.

[2019-08-09 00:23] #235 closed, assigned to dwillis

[2019-08-12 15:53] hrecht commented on #234
Thanks Derek! While you're adding that - it would be great to have a similar record of total responses available, like `total_bills` for the recent bills endpoint (https://projects.propublica.org/api-docs/congress-api/bills/#get-recent-bills).

[2019-08-12 16:32] dwillis commented on #234
@hrecht I think we can add that, but if you're looking for bulk data on bills, we've got something for that already that might make it easier for you to deal with programmatically:

https://www.propublica.org/datastore/dataset/congressional-data-bulk-legislation-bills

[2019-08-13 11:35] dwillis commented on #231
This is fixed now, thanks!

[2019-08-13 11:35] #231 closed, assigned to dwillis

[2019-08-13 12:24] dwillis commented on #233
@njgingrich thanks for this. here's what we've done:

1. Removed the date from the most recent floor updates responses.
2. URLs like `https://api.propublica.org/congress/v1/116/senate/floor_updates.json` will still work as before, with the congress parameter included, but so will URLs like `https://api.propublica.org/congress/v1/senate/floor_updates.json`, which don't show the congress parameter.

[2019-08-14 15:18] njgingrich commented on #233
Thanks for the update!

[2019-08-14 15:22] #233 closed, assigned to dwillis

[2019-08-23 21:22] dwillis opened #236 "Add time information to Lobbying responses"
So that users can get or derive a congress from a filing.

[2019-08-26 18:03] dwillis commented on #236
This is ready to deploy - need to update API docs.

[2019-08-28 15:13] hrecht opened #237 "Invalid JSON due to line breaks in bill titles"
Hi, I've run across a few invalid JSONs due to line breaks appearing in bill titles using the member vote positions API. This breaks certain JSON parsers. Ideally the fix would be to remove these line breaks.

Here's one example:
`curl "https://api.propublica.org/congress/v1/members/B000444/votes.json?offset=3280"
  -H "X-API-Key: PROPUBLICA_API_KEY"`

Invalid section:
[code]

[2019-08-28 15:21] hrecht commented on #237
Relatedly, found when searching for any similar issue reports - I would encourage not adding additional line breaks to the json response. https://github.com/propublica/congress-api-docs/issues/187

[2019-08-29 14:54] dwillis commented on #237
@hrecht thanks - we'll try to nail those stray line breaks down.

[2019-09-03 15:28] #236 closed, assigned to dwillis

[2019-09-03 15:41] #187 closed

[2019-09-03 15:55] dwillis commented on #237
These should be resolved now (or very soon, depending on API caching).

[2019-09-03 16:33] hrecht commented on #237
That seems to be fixed but I'm getting a new error with the same call now - in the same line, the line break is gone but there is now an invalid tab between the period and end quotes.
`"title": "Making omnibus consolidated and emergency appropriations for the fiscal year ending September 30, 1999, and for other purposes.	",`

[2019-09-03 16:44] dwillis commented on #237
@hrecht Argh, fixing now. Give it a bit for the cache to clear.

[2019-09-03 16:47] hrecht commented on #237
Thank you! I'm actually seeing a slightly different reason for the error using JSONLint now so maybe it wasn't the tab messing up my parser? Unclear, but it's something in that line.
<img width="1168" alt="Screen Shot 2019-09-03 at 12 45 50 PM" src="https://user-images.githubusercontent.com/9753760/64192512-d7807d00-ce48-11e9-8d4a-dd24d92a3504.png">

[2019-09-03 17:04] dwillis commented on #237
Just checked the results with the JSONLint validator and it seems ok now.

[2019-09-03 17:05] hrecht commented on #237
It's working for me now too, thanks so much for the quick fix.

[2019-09-03 17:21] #237 closed, assigned to dwillis

[2019-09-10 17:42] jpelton-stroud opened #238 "API ResponseObject property definitions, specifically 'google_entity_id'"
# Feature Request
## Definition list of API Response Object Properties
Started my quest with trying to figure out what the `google_entity_id` property in the legislator query response references, so if anybody can answer that question for me I'll be satisfied, but ideally every response object should be fully documented, soo...

## Issue Description
The [docs site](https://projects.propublica.org/

[2019-09-11 11:56] dwillis commented on #238
@jpelton-stroud That's a fair request, and we'll be working on it. In the meantime, the `google-entity-id` is from [Google's Knowledge Graph](https://developers.google.com/knowledge-graph/) and is the search engine's identifier for prominent individuals. You can, for example, use it in place of a name in [Google Trends](https://trends.google.com/trends/explore?q=%2Fm%2F0cqt90&geo=US).

[2019-10-02 20:58] hrecht opened #239 "Some votes endpoint offsets throwing errors"
I'm running into errors in the recent votes endpoint for a small percentage of offset numbers. I don't see any clear pattern but am consistently getting errors on the same calls.
Some examples:
https://api.propublica.org/congress/v1/senate/votes/recent.json?offset=1420
https://api.propublica.org/congress/v1/senate/votes/recent.json?offset=1440
https://api.propublica.org/congress/v1/senate/votes/re

[2019-10-08 13:52] dwillis commented on #239
@hrecht this should be fixed now

[2019-10-08 14:23] #234 closed, assigned to dwillis

[2019-10-08 18:20] #239 closed, assigned to nobody

[2019-10-12 15:39] mattheiler opened #240 "Lobbying client/registrant name is not encoded correctly and fails to parse as JSON"
Using the following endpoint...

https://api.propublica.org/congress/v1/lobbying/latest.json

The lobbying client/registrant name is not encoded correctly and fails to parse as JSON. Double quotes need to be escaped.

A few examples are...

"name": "Midfield Consulting LLC "fka Mr. Michael Joyce""
"name": "Open Access Technology International, Inc. ("OATI")"
"name": "FMR LLC ("Fidelity Investments

[2019-10-12 16:49] dwillis commented on #240
Thanks, @mattheiler - we've deployed a fix and it should be live in about 30 minutes or so.

[2019-10-12 17:06] mattheiler commented on #240
Thanks! Seems like it's fixed for client, but maybe not registrant?

[code]

[2019-10-12 17:22] dwillis commented on #240
Yep, we'll get that, too.

[2019-10-12 18:20] mattheiler commented on #240
Working great, thanks! Not sure if it's related, but one of the lobbyist names for the following requests have a similar issue:

https://api.propublica.org/congress/v1/lobbying/300983124.json

[code]

https://api.propublica.org/congress/v1/lobbying/300956561.json

[code]

[2019-10-12 20:21] dwillis commented on #240
Alright, those should be fixed shortly. What else you got? :-)

[2019-10-13 04:12] mattheiler commented on #240
That worked! Looks like general description might need it, too.

https://api.propublica.org/congress/v1/lobbying/300936425.json

[code]

[2019-10-13 17:57] dwillis commented on #240
Ok, think we've got that, too.

[2019-10-13 19:07] mattheiler commented on #240
Lobbying registrant is working, but I still see this for the client of this entry:
https://api.propublica.org/congress/v1/lobbying/300936425.json
[code]

[2019-10-14 00:31] #240 closed, assigned to dwillis

[2019-11-12 01:48] ndawg opened #241 "Get recent bills does not include congressional session within each bill"
Although the get recent bills endpoint requires a value for congress, it does not seem to include the value of the congressional session for each bill, like other similar endpoints do. For example, consider one of the returned bills:
[code]

As you can see there is no `congress` field in the returned JSON. Even though the request takes a congressional session ID itself, it would be really helpful

[2019-11-12 02:20] ndawg opened #242 "Get bills by member with types other than "introduced" and "updated""
Would it be possible to allow the endpoint for getting bills by a member to accept all types of bill states? That is: `introduced`, `updated`, `active`, `passed`, `enacted`, and `vetoed`, just like the endpoint to get recent bills.

[2019-11-12 02:24] dwillis commented on #241
@ndawg We could add that. In the meantime, you can get the congress from the `bill_id` attribute by splitting on `-`. It's the second value in that.

[2019-11-12 02:24] dwillis commented on #242
@ndawg seems reasonable, yeah.

[2019-11-12 02:27] ndawg commented on #241
Yep, that's what I've done for now! I think it'd be good for consistency though 👍

[2019-11-12 03:10] ndawg commented on #241
@dwillis Something else I've just noticed is that the recent bills endpoint requires the congressional session while the get recent votes endpoint doesn't. Any reason for that?

[2019-11-12 03:13] dwillis commented on #241
@ndawg No, not a good reason, at least. We can see about deprecating that and adding an endpoint more like the recent votes one.

[2019-11-14 02:43] ndawg opened #243 "Member responses are inconsistent in the data they return"
Of the following endpoints:

1. List of Members
2. Get a Specific Member
3. Get New Members
4. Get Current Members by State/District
5. Get Members Leaving Office

The data present for each member returned is not very consistent, with certain ommissions that don't seem to make too much sense. I'm not sure of the best way to communicate all of these discrepancies, but here's my attempt:

| field |

[2019-11-14 03:18] ndawg commented on #198
I think this would be good for a V2 of the API. A lot of the responses could be reworked to be structured much better and to be more consistent in general. @dwillis is this something you guys would be interested in pursuing?

[2019-11-15 16:04] dwillis commented on #243
@ndawg thanks for this - it's a big effort, and you're right, we should standardize things better. Sounds like something we can do for a V2 version.

[2019-11-15 16:05] dwillis commented on #198
@ndawg Yeah, that seems doable.

[2019-11-19 18:57] ndawg commented on #243
I agree v2 is probably a better opportunity to overhaul these responses. For now, I think it's worth shoring up the responses from the "Get a Specific Member" in particular, which seems like it should return all possible information. So, the changes required:

- Start including the `id` field, keep `member_id` to avoid breaking changes
- Start including `party`, keep `current_party`
- Include `dw_

[2019-11-20 17:19] wsugarman commented on #198
Perhaps the documentation could leverage the [OpenAPI Specification 3.0](https://swagger.io/resources/open-api/) for detailing request and response schemas.

[2019-11-20 19:24] ndawg commented on #198
Definitely agree, OpenAPI spec is the way to go. It's a widely used standard, and it allows codegen and other features.

[2019-11-22 02:53] ndawg opened #244 "Invalid escape sequence in Search Bills result"
The following query:
[code]

Will produce invalid JSON. The first bill returned, `hr2454`, has a dangling escaped space deep within the `summary` (yes, this took me forever to find):
[code]

[2019-11-22 15:45] dwillis commented on #244
@ndawg When I load that response I don't see `hr2454` as the first bill. Can you send me some more of the output for that bill?

[2019-11-22 17:02] ndawg commented on #244
Here's the full JSON.
[code]

[2019-11-22 20:27] dwillis commented on #244
@ndawg Thanks - should be fixed now.

[2019-11-25 16:52] ndawg commented on #244
Looks fixed to me. Thanks!

[2019-11-25 16:52] #244 closed, assigned to dwillis

[2019-11-25 16:56] ndawg commented on #238
I feel like this would be accomplished by #198

[2019-11-27 22:04] ndawg opened #245 "Get Related Bills returns more than 20 results"
The "Get Related Bills" endpoint appears to return every single related bill possible. For example, for the following query:
[code]
There are 74 entries in the `related_bills` field. Meanwhile, the documentation says:

[2019-11-27 22:15] ndawg opened #246 "Get Subjects for Bill returns more than 20 results"
The "Get Subjects for a Specific Bill" endpoint appears to return every subject possible. For example, for the following query:

[code]

There are 73 entries in the `subjects` field. Meanwhile, the documentation says:

[2019-11-29 22:54] ndawg opened #247 "Get Senate Nomination Votes is missing some minor fields"
This is a pretty minor issue, but there are a few fields missing from the response of the 'Get Senate Nomination Votes' endpoint: `chamber` (which is always 'senate'), `source`, `url`, `vote_uri`. All the data required to supplement these values exist in the given response, but it would be nice to have it be consistent with other voting endpoints.

[2019-12-01 01:37] jpelton-stroud commented on #238
@ndawg agreed.

[2019-12-02 17:22] dwillis commented on #243
@ndawg Seems reasonable. I would note that, for "Get a Specific Member", `party` is actually present in the `roles` array, as it is attached to a specific timeframe. We use `current_party` at the top level because people can and do change parties in the course of a congress. For the last set of attributes you'd like included, those seem like they should be in the `roles` array as well, not the top

[2019-12-02 17:35] dwillis commented on #241
@ndawg I'd like to amend my previous answers here:

1. The JSON returned by "Get Recent Bills" _does_ include `congress`, just not for each bill but at the top of the response object. Since the congress is required, that value extends to each bill in the response.
2. This leads into your second point about requiring the congress. My recollection is that the reason we don't require congress for rec

[2019-12-02 18:19] dwillis commented on #242
@ndawg the only one of those that is tricky is `passed`, because that requires a chamber parameter, since a bill can be passed by neither the House or Senate, by one of those chambers or by both. The current endpoint doesn't really provide a way to account for those without requiring a chamber parameter.

[2019-12-03 17:54] ndawg commented on #243
@dwillis interesting about the `current_party` distinction, I wasn't aware people were flipping parties mid-session. And yeah, that's correct, they should be in the `roles` array.

[2019-12-03 17:59] ndawg commented on #242
@dwillis personally, I would consider `passed` to logically mean passed both chambers. As in, it has passed through congress and is now waiting to be enacted. But I understand the difficulty with being precise about that.

[2019-12-03 18:03] dwillis commented on #242
@ndawg I'd be ok with supporting a `passed` that meant passed both chambers. Would just need to make that clear in the docs, I think.

[2019-12-03 18:06] ndawg commented on #241
1. That's fair, although having one "unified" response object makes it much easier to properly parse values. Most endpoints have all their data in the `results` field, so I use something like this to represent all responses:
[code]
This allows top-level error handling for all endpoints, for example. You can imagine it would get quite tedious to have a custom response type for every endpoint, altho

[2019-12-04 21:39] dwillis commented on #247
@ndawg this is done.

[2019-12-04 21:50] dwillis commented on #246
@ndawg this is fixed now.

[2019-12-04 21:51] dwillis commented on #245
@ndawg This is fixed now.

[2019-12-04 22:04] dwillis commented on #243
@ndawg I've started on this - we've deployed an update to "Get a Specific Member" responses and updated the example.

[2019-12-04 22:14] dwillis commented on #242
@ndawg this is done now ([docs](https://projects.propublica.org/api-docs/congress-api/bills/#get-recent-bills-by-a-specific-member)).

[2019-12-04 23:35] ndawg commented on #247
@dwillis looks like the new fields are all there, however I'm now getting a dangling comma on the last result of the array, causing any strict parser to fail. Here's a sample response: https://jsoneditoronline.org/?id=acac33587a4d4d5b9ce2cd2a83c2664e

[2019-12-04 23:37] ndawg commented on #246
Looks all good to me. Thanks!

[2019-12-04 23:37] #246 closed, assigned to dwillis

[2019-12-04 23:38] ndawg commented on #245
Looks good, thanks!

[2019-12-04 23:38] #245 closed, assigned to dwillis

[2019-12-04 23:57] ndawg commented on #242
@dwillis Thanks for this. I've found a few bugs. These two requests:

[code]

Return malformed JSON (they have dangling commas on the last bill in the `bills` array). This doesn't seem to occur with the other responses.

Also, this minor error message. When the `member-id` is missing, the following error is given:
[code]
Which should probably say "Please specify a member" instead. That had me conf

[2019-12-05 12:14] dwillis commented on #247
@ndawg Ok, that should be fixed.

[2019-12-05 12:15] dwillis commented on #242
@ndawg the malformed JSON is fixed now. I'll work on the error message.

[2019-12-06 00:55] ndawg commented on #247
Looks good. Thanks!

[2019-12-06 00:55] #247 closed, assigned to dwillis

[2019-12-06 00:55] ndawg commented on #242
Looks fixed, thanks!

[2019-12-06 00:55] #242 closed, assigned to dwillis

[2019-12-07 03:26] #215 closed, assigned to nobody

[2019-12-07 03:27] #109 closed

[2019-12-07 03:28] #85 closed

[2019-12-08 01:47] ndawg commented on #243
@dwillis for listing members, what do you think about including a `role` field that contains the member's current position information? As in, the same as `roles` when getting a specific member, but there is just one `role` attached (without committee and subcommittee information in that role).

This isn't necessarily a breaking change but would help organize things really well. Just an idea - hav

[2019-12-08 02:31] dwillis commented on #243
@ndawg let me check into it - I guess my first thought would be that the list of members includes everyone who has served in a given congress, even if they are not current members, so that would mean we'd need to figure out how to treat a `role` attribute for those folks.

[2019-12-13 02:03] ndawg commented on #243
I haven't had too much time to look into this more, but I did go ahead and update the table. I think there might be a few inaccuracies (not sure about `geoid` and `at_large`, for instance). However, it definitely looks much healthier than the original.

Note that this is just comparing the List of Members and Get a Specific Member endpoint for now.

fields | list | get |
|-|-|-|
id | ✔ | ⚠ |
title

[2019-12-14 00:04] ndawg commented on #243
Here's a more thorough and well-vetted table, again only comparing the list and get methods, including all the sub-properties of the `roles` entries. I compiled it for all members of Congress in both chambers, so it has some mutually exclusive fields, like `district` versus `senate_class`.

fields | list | get |
|-|-|-|
id | ✔    | ⚠   |
title | ✔    | ✳   |
short_title | ✔    | ✳   |
api_uri | ✔

[2019-12-24 20:45] ndawg opened #248 "Get Senate Nomination votes should re-use the "nomination" field"
In the Get Recent Votes endpoint, nominations show up like this:
[code]

However, in the Get Senate Nomination endpoint, no such data is present. Instead, it all seems to be encapsulated in the description, like this:
[code]

I think it would be good to re-use the `nomination` field and include all of the data.

[2019-12-26 18:59] ndawg opened #249 "Invalid JSON on Get Recent Votes endpoint"
Currently, the request:
[code]
Returns malformed JSON. In particular, the first vote in the `results` field is:
[code]

Notice the lack of vote counts for democratic/republican/independent fields.

[2019-12-26 21:35] dwillis commented on #249
@ndawg should be fixed now.

[2019-12-26 22:28] ndawg commented on #249
Looks like it, thanks!

[2019-12-26 22:30] ndawg commented on #249
@dwillis Nevermind. The `majority_position` fields are still blank.

[2020-01-02 20:41] renderorange opened #250 "Invalid JSON on Compare Two Members Vote Positions endpoint"
The following URI returns invalid JSON:
[code]

The documentation mentions the range of congress for senate and house:
https://projects.propublica.org/api-docs/congress-api/members/#compare-two-members-vote-positions
[code]

If you choose members within a congress outside of the range, in this case:
[code]
`agree_percent` and `disagree_percent` return as `NaN`, which fails JSON validation.
[code]

[2020-01-03 16:47] dwillis commented on #250
@renderorange Choosing congresses outside the range specified does result in an error, which is why the docs say not to do it. We'll change the result to a generic error message, but you shouldn't expect valid results from that request.

[2020-01-03 16:51] renderorange commented on #250
The JSON should still be valid though, that's more of what I was going for with this issue.

[2020-01-03 16:52] dwillis commented on #250
@renderorange Understood, but it's not a request that we support nor one that users should be making.

[2020-01-03 17:00] renderorange commented on #250
👍

[2020-01-03 18:34] dwillis commented on #250
@renderorange Ok, requests using congresses outside the range of values now yield an error message rather than a response with invalid JSON.

[2020-01-03 19:29] renderorange commented on #250
Thank you!

[2020-01-04 17:31] renderorange opened #251 "Get Quarterly Office Expenses by a Specific House Member year range needs updating"
The year range for Get Quarterly Office Expenses by a Specific House Member in the documentation is not up to date.

https://projects.propublica.org/api-docs/congress-api/members/#office-expenses
[code]
The following year and quarter returns results:
https://api.propublica.org/congress/v1/members/K000388/office_expenses/2019/3.json

So this would lead me to believe office expenses data is current

[2020-01-05 21:30] dwillis commented on #251
@renderorange Thanks - we've updated the years to be `2009-2019`.

[2020-01-05 21:31] #251 closed, assigned to dwillis

[2020-01-05 21:31] renderorange commented on #251
You're welcome, thank you!

[2020-01-06 15:32] #250 closed, assigned to dwillis

[2020-01-06 15:33] dwillis commented on #249
@ndawg Should be fixed now.

[2020-01-06 18:15] renderorange opened #252 "500 error response from Members Get Recent Privately Funded Trips"
The following request fails with 500 error:
https://api.propublica.org/congress/v1/110/private-trips.json
[code]
congress 111 and 112 also fail.
congress 113-116 succeed as expected.

[2020-01-07 14:20] dwillis commented on #252
@renderorange This should be resolved now. Thanks!

[2020-01-08 19:42] renderorange commented on #252
Thank you!

[2020-01-09 15:24] renderorange opened #253 "500 error response from multiple endpoints"
perhaps this is causing the error?
[code]

[2020-01-09 21:37] dwillis commented on #253
@renderorange Are you still seeing this? If so, would be helpful to see some request URLs.

[2020-01-09 21:45] renderorange commented on #253
It's my fault, I just realized I forgot to update my propublica key locally.

Sorry :)

[2020-01-09 21:45] #253 closed, assigned to nobody

[2020-01-10 18:20] renderorange opened #254 "members.json in_office boolean attribute doesn't appear to change results"
The documentation at https://projects.propublica.org/api-docs/congress-api/members/#lists-of-members mentions an `in_office` boolean attribute to `filter the list to only active members (or to see members who have left)`, but I can't seem to get the result set to change when using it.

I'm using the following:
https://api.propublica.org/congress/v1/116/house/members.json?in_office=false
and seeing

[2020-01-10 19:42] dwillis commented on #254
@renderorange The docs aren't clear enough; the request itself can't be filtered via the URL, but the response can be filtered post-request.

[2020-01-10 23:17] renderorange commented on #254
Ah, that makes sense.  Thanks for the clarification!

[2020-01-10 23:17] #254 closed, assigned to nobody

[2020-01-11 01:06] renderorange opened #255 "offset for Lists of Members is not paginating"
The offset argument for Lists of Members does not appear to be paginating the results.

https://api.propublica.org/congress/v1/102/house/members.json?offset=20
[code]

Does this endpoint support offset?  Generally speaking, if the results from an endpoint include an offset key, is that a safe indication that it supports pagination?

[2020-01-11 16:48] #252 closed, assigned to dwillis

[2020-04-14 01:13] njgingrich opened #256 "Invalid JSON response for senate floor updates"
When requesting from this endpoint:
https://api.propublica.org/congress/v1/senate/floor_updates/2020/03/25.json

You receive the following (truncated) JSON:

[code]

Which is called out as invalid JSON because of the newlines, specifically called out as `SyntaxError: JSON.parse: bad control character in string literal at line 143 column 91 of the JSON data` in the Firefox devtools.

(Can also be s

[2020-04-27 05:44] dawaltconley commented on #166
Correct me if I'm wrong, but isn't the query for current members on a per-state-per-chamber basis? I haven't found a way to get current mems for an entire chamber unless you know the congress number.

I've been currently doing this by doing:

1. Get current mems from an arbitrary state
2. Follow the `api_uri` to get specific data for one of those mems and pull the congress number from their most r

[2020-05-01 19:15] LukeClancy opened #257 "Unclear as to how bill updating works"
at https://projects.propublica.org/api-docs/congress-api/bills/#get-recent-bills

is a bill added to the top of the "updated" list when its info is recently changed? Or is it based on latest_major_actions? Currently I am redownloading alot of data every day because I am afraid it might of been changed. I am looking for an efficient way to determine when the bills receive changes through the api to

[2020-05-01 22:12] dwillis commented on #257
@LukeClancy Thanks for the question, and I'm sorry that the docs aren't clearer on this. For the `updated` list, the sort key is `latest_major_action_date` in descending order, so when that value is updated, the order in which a bill would appear changes. We check for updated bill information several times a day.

Because the changes to bills can be frequent and many, we don't have an endpoint tha

[2020-05-05 00:26] dwillis commented on #256
Took way too long to fix this, but it is now fixed.

[2020-05-05 00:26] #256 closed, assigned to nobody

[2020-05-16 03:14] LukeClancy commented on #257
Hey dwillis, I have been updating my infrastructures efficiency in relation to the database and it has been helping greatly to my bulk data downloads. I will also be updating my api capabilities to include a persistent connection which I think will also help. Bulk bill data wont help for me since I am also utilizing rollcalls and rollcall votes, along with members.

During my downloading of rollca

[2020-05-19 15:28] dwillis commented on #257
@LukeClancy - thanks for pointing this out, and this is the place to do so. We've removed the duplicate records for that vote.

[2020-05-20 20:41] LukeClancy commented on #257
Thats great! I am currently going through all active bills, and calling both the endpoint for the particular bill and its cosponsors (down to 113th congress).

Here is an endpoint which consistently just returns 500 server error, taken from the [latest active endpoint](https://projects.propublica.org/api-docs/congress-api/bills/#get-recent-bills), bill_uri parameter.

`curl -H "X-API-Key: ########

[2020-05-20 20:43] dwillis commented on #257
@LukeClancy thanks, that's helpful. I will say that your use case is exactly what the bulk bill data is for, though, and it will cut down on both errors and time.

[2020-05-20 21:06] LukeClancy commented on #257
Yeah but I'm doing the same thing with rollcalls though, and there is no bulk for that

[2020-05-20 21:16] dwillis commented on #257
Right, but as those are two separate things, I definitely would recommend using the bulk bill data for just that bit.

[2020-05-20 21:32] LukeClancy commented on #257
I will think about it. The issue is that my infrastructure for the API method is already built, and in comparison to roll-calls (of which there are many), updating bills in a similar manner seems insignificant

[2020-05-20 21:33] LukeClancy commented on #257
But you are right, looking at it the bulk update would be a lot more efficient

[2020-05-20 21:55] dwillis commented on #257
There are many, many more bills than there are roll calls votes, fwiw.

[2020-05-20 22:11] LukeClancy commented on #257
really? Oh I thought it was the other way around, since I figured you needed a rollcall to vote on a bill, amendment etc. I dont really get the political stuff and I'm working by myself

[2020-05-20 22:15] LukeClancy commented on #257
allright I'll do it, thanks for the help! It goes farther back than the API too so its probably for the best

[2020-05-20 22:19] dwillis commented on #257
Yeah, most bills - even the ones that see any actions - don't get a vote.

[2020-06-10 19:59] pseuGithup opened #258 "how to get the indivdiual member votes of a partiuclar Vote"
Apologies, if this is the wrong forum for this question.

My question is this. Say I have a Bill, and I want to know how individual members (senate and/or congress) voted on that bill. How would I best go about getting this information?

Looking at the Votes section of the API (https://projects.propublica.org/api-docs/congress-api/votes/), it seems the votes are rolled up to the party level (repub

[2020-06-10 22:58] dwillis commented on #258
@pseuGithup this is definitely the right forum, and you can get individual vote positions on the [response for each vote](https://projects.propublica.org/api-docs/congress-api/votes/#get-a-specific-roll-call-vote). In the example you cite above, it would be https://api.propublica.org/congress/v1/115/house/sessions/1/votes/438.json.

[2020-06-12 17:00] pseuGithup commented on #258
thank you for responding. That's what I was looking for.

Now there is a follow-up question. I have a large number of **bills** I received, now my aim is to retrieve the **votes** for those specific bills.

It's not entirely clear to me how I would link those bills to the roll-call-number.

In other words, how would I retrieve the votes for a bill, if I don't know the **roll-call-number**, but onl

[2020-06-12 22:27] dwillis commented on #258
@pseuGithup Sure, each [bill response](https://projects.propublica.org/api-docs/congress-api/bills/#get-a-specific-bill) includes a `votes` array that contains any votes on that bill. You should be aware that some bills have several votes - including possibly multiple "passage" votes - and many others have none.

[2020-06-15 19:43] pseuGithup opened #259 "Votes by Date -- attributes of democratic, republican, and independent votes"
so I am currently implementing pulling down **Votes by Date.**
[votes by date](https://projects.propublica.org/api-docs/congress-api/votes/#get-votes-by-date)

what I notice is that vote results for each party affiliation (democratic, republican, and independent) are generally reported in this format.

**Democratic:**
     - yes
     - no
     - present
     - not_voting
     - majoirty_position

[2020-06-15 19:50] dwillis commented on #259
Some votes, such as the Election of a Speaker in the House, do not have the conventional Yes/No/Present choices. Instead, members vote by declaring the name of the person they support.

[2020-06-15 19:53] pseuGithup commented on #259
ok thanks, Derek for clarifying, I thought so. I'll reflect this in my code.

[2020-06-19 18:11] #259 closed, assigned to nobody

[2020-06-19 18:12] #257 closed, assigned to dwillis

[2020-06-19 18:12] #258 closed, assigned to nobody

[2020-06-19 18:37] IanMitchell opened #260 "Errors in Vote "Total" Summaries"
Hello! I'm working on a website that displays information about congressional votes - while working with your API I found a few errors with the "total" vote calculations for several responses. If the data is publicly available for editing I would be happy to go make the fixes.

The following votes are the ones I noticed discrepancies in:

1. 2003, Rollcall 1
2. 2005, Rollcall 1
3. 2007, Rollcall 1

[2020-06-19 19:10] dwillis commented on #260
@IanMitchell Hi, can you give us more detail of what the discrepancies are, maybe starting with the most recent vote?

[2020-06-19 19:13] IanMitchell commented on #260
Sure thing! Mostly the `total` block isn't being counted correctly. This is a snippet from the API response for 2003 Rollcall 1:

[code]

It lists only three votes, all "yes" - it should read:

[code]

Want me to list the fixes for the other votes as well?

[2020-06-19 19:16] dwillis commented on #260
That would be great, thanks! Also, can you specify which chamber each vote is in?

[2020-06-19 19:47] IanMitchell commented on #260
These are all for the Senate chamber!

**2003, Rollcall 1**
Current:
[code]

Actual:
[code]

**2005, Rollcall 1**
Current:
[code]

Actual:
[code]

**2007, Rollcall 172**
Current:
[code]

Actual:
[code]

**2007, Rollcall 207**
Current:
[code]

Actual:
[code]

(Vacant WY seat)

**2007, Rollcall 262**
Current:
[code]

Actual:
[code]

**2007, Rollcall 276**
Current:
[code]

Actual:
[code]

**2007, Rol

[2020-06-19 19:49] #249 closed, assigned to dwillis

[2020-08-21 18:31] ArnoviMoinuddin opened #261 "search whether person is lobbyist?"
Hello!

I'm trying to write up some code that would check whether or not somebody is a lobbyist. When looking at the documentation for "Get a Specific Lobbying Representation filing," I see that the parameters are "id." How can I translate a name to an ID? Alternatively, can I query by name?

[2020-08-21 18:42] dwillis commented on #261
@ArnoviMoinuddin Hi! You can search by name using the "[Search Lobbying Representation filing](https://projects.propublica.org/api-docs/congress-api/other/#search-lobbying-representation-filings)" endpoint.

[2020-09-08 23:08] #261 closed, assigned to dwillis

[2020-09-08 23:09] dwillis commented on #255
@renderorange Lists of members do not support offset; they provide the full listing of members who have served in that chamber and congress: https://projects.propublica.org/api-docs/congress-api/members/#lists-of-members

[2020-09-08 23:22] johnw2 opened #262 "provide more information about bill progress"
Hi. Thanks for this resource. I am hoping that you can add to the progress fields. Here is the section of the api:

https://projects.propublica.org/api-docs/congress-api/bills/
"introduced_date": "2014-06-12",
 "active": false,
 "house_passage": null,
 "senate_passage": null,
 "enacted": null,
 "vetoed": null,

We would like it to also include dates for each of these steps:

committee referral
rep

[2020-10-17 05:15] emilguareno opened #263 "Invalid JSON Response for Bill Search"
Hello!

I am using the Propublica API to search for bills in Congress. One of the requests returned a JSON response with one of the bills having a `control` character on the Summary field which is considered invalid JSON.

![image](https://user-images.githubusercontent.com/9509310/96328922-f87c4100-0ffc-11eb-98cf-1538288d8aaf.png)

This is the request: https://api.propublica.org/congress/v1/bills/

[2020-10-18 02:35] jonhsmiht opened #264 "Last_Vote attribute null in Bill endpoints"
Based on this previously resolved issue - https://github.com/propublica/congress-api-docs/issues/177, it appears the `last_vote` attribute is no longer populated, always comes back as `null`

Can be seen at these endpoints - https://api.propublica.org/congress/v1/116/senate/bills/enacted.json?offset=20, as well as in the API documentation - https://projects.propublica.org/api-docs/congress-api/bil

[2020-10-25 20:05] dwillis commented on #264
Hi @jonhsmiht - I'm not sure this is a bug; I can find the `last_vote` for some of the bills in those responses. Rather, many of the bills that have been enacted this congress have been passed without a roll call vote in either chamber, either by voice vote or unanimous consent.

[2020-10-25 20:12] dwillis commented on #263
@emilguareno thanks for this report - we'll have it fixed later today.

[2020-10-25 21:46] jonhsmiht commented on #264
Hi @dwillis - I do now see some `last_vote` attributes coming through for some bills, as you mentioned, had been mostly seeing blank, but thanks for the explanation! I will close this issue out now.

[2020-10-25 21:46] #264 closed, assigned to dwillis

[2020-11-03 23:41] RoseMarieSecada opened #265 "Invalid JSON for HR4079"
This http request results in invalid JSON

https://api.propublica.org/congress/v1/104/bills/HR4079.json

Attached txt file contains json  -  error appears to be in line 42 - Summary

[HR4079.txt](https://github.com/propublica/congress-api-docs/files/5484686/HR4079.txt)

[2020-11-07 20:05] renderorange commented on #255
Thanks for the follow up.

[2020-11-07 20:05] #255 closed, assigned to nobody

[2020-11-15 20:53] mkcifci opened #266 "Recent congressional statements"
I am downloading recent congressional statements using API and the 'ProPublicaR' package in R. I believe there are ~10,000 pages of data. However, I was able to download until page 7398. This page corresponds to December 2018. I need to download data until October 2018. What could be reason for why I can't download pages after 7398? Is this caused by API restrictions?

[2020-11-16 00:12] #266 closed, assigned to nobody

[2021-02-11 15:14] RoseMarieSecada opened #267 "When will Congressional Committee data for 117 congress be added?"
No results returned for committees or members for 117th congress. When will they be added?
https://api.propublica.org/congress/v1/117/house/committees.json

[2021-02-11 15:26] dwillis commented on #267
@vizyourgov It's on the list - if you'd like to help with that effort, please let us know.

[2021-02-11 15:42] RoseMarieSecada commented on #267
happy to help depending on what's involved

[2021-02-11 16:08] RoseMarieSecada commented on #267
Hi. I’d love to help depending on what’s involved.Just let me know...

[2021-02-11 16:34] dwillis commented on #267
The House is the main issue. The process involves taking resolutions like [this one](https://www.congress.gov/bill/117th-congress/house-resolution/95/text) and populating a data file at the United States project [here](https://github.com/unitedstates/congress-legislators/blob/master/committee-membership-current.yaml). We use that file as the source of our committee membership data. We use the offi

[2021-02-16 00:49] RoseMarieSecada commented on #267
Looking at this, it seems like it has been done manually in the past. Is that correct?

I did a little poking around in wikipedia and see that a lot of work has been done in this space. For example: https://en.wikipedia.org/wiki/117th_United_States_Congress#Committees <https://en.wikipedia.org/wiki/117th_United_States_Congress#Committees>

I’m wondering what you think of leveraging this to automat

[2021-02-16 18:28] dwillis commented on #267
@vizyourgov that might work, yeah - if you're interested i'd definitely give it a look.

[2021-03-03 15:08] RoseMarieSecada commented on #267
Attached is an example of what I was able to do for house subcommittees with a combination of wikipedia data and my local databases. The first tab has some notes and questions about how you’d like to proceed..

[2021-03-04 02:43] dwillis commented on #267
@vizyourgov I don't see an attachment?

[2021-03-04 13:09] vizyourgov commented on #267
the attachment is an excel spreadsheet with multiple tabs which i see cannot be

[2021-03-04 13:11] RoseMarieSecada commented on #267
the attachment is an excel sheet with multiple tabs. Here it is a zipped version.

[House Subcommittee Data Example.xls.zip](https://github.com/propublica/congress-api-docs/files/6083820/House.Subcommittee.Data.Example.xls.zip)

[2021-03-05 14:45] RoseMarieSecada commented on #267
I uploaded a zip file of an excel workbook with house committee and sub-committee data. It’s a starting off point to get a sense of how you view the various sources.

The idea is to end up with something akin to this json of senate, committees, subcommittees, and members of both.

I use senate.gov <http://senate.gov/> as the source for committees, subcommittees, and members and I enrich the member

[2021-03-08 17:56] RoseMarieSecada commented on #267
here is a json file with all the house committee and subcommittee data including leadership and members as found on wikipedia. i enriched with bioguide id, urls, etc. note: the member data taken from wikipedia is for 117th congress when/where it exists. it will be for 116th congress when 117th doesn't exist but that is indicated as is the wikipedia url used.
i can change this as needed but wanted

[2021-03-08 17:58] dwillis commented on #267
@vizyourgov Thanks! I'll take a look. In the meantime I'm happy to report that we have full committee assignments in the API for the 117th.

[2021-03-10 17:21] RoseMarieSecada opened #268 "missing votesmart id for new members of congress"
missing votesmart id for new members of congress

i can get these for you if it'll help include in the API

[2021-03-10 17:24] dwillis commented on #268
@vizyourgov we source member information from this effort: https://github.com/unitedstates/congress-legislators, which does have votesmart ids, although it might not have the newest folks. If you had them for any that project is missing we'd welcome a contribution there.

[2021-03-10 17:36] RoseMarieSecada commented on #268
i just downloaded the csv file and found Votesmart ID to be missing from new members of congress.

I’m happy to look these up on votesmart and provide them.

[2021-03-10 17:57] dwillis commented on #268
@vizyourgov thanks!

[2021-03-10 18:21] RoseMarieSecada commented on #268
Attached is a zipped excel sheet with the missing votesmart ids added in red.
[congress_legislators.xlsx.zip](https://github.com/propublica/congress-api-docs/files/6118022/congress_legislators.xlsx.zip)

[2021-03-17 16:44] RoseMarieSecada commented on #268
Here is a python dictionary with all the missing votesmart ids mapping to their bioguide ids.

    votesmart_dictionary = {
                "A000148": "173832", "B000668": "102400", "B000740": "152294", "B000825": "191290",
                "B001223": "191205", "B001224": "169020", "C001039": "191306", "C001054": "143749",
                "C001055": "3422", "C001104": "188527", "C001116": "189770",

[2021-03-18 21:50] #267 closed, assigned to nobody

[2021-03-18 21:51] #263 closed, assigned to dwillis

[2021-10-10 17:08] sheoftensaid opened #269 "Returning error"
Both:
https://api.propublica.org/congress/v1/statements/search.json?query=afghanistan&offset=2460
https://api.propublica.org/congress/v1/statements/search.json?query=afghanistan&offset=2540

resulting in errors like this:
{
    "status": "ERROR",
    "copyright": "Copyright (c) 2021 Pro Publica Inc. All Rights Reserved.",
    "errors": [
        {
            "error": "Couldn&#39;t find Communicat

[2021-10-25 00:58] grojas123 opened #270 "Interment issues with the API Calls"
Guys Hi , I am using this API for an assignment in the JavaScript bootcamp .
I am using this call :
fetch(url, {
            mode: 'cors',
            headers: {
            'X-API-Key': keyvalue,
            'Accept': 'application/json',

        }
The bizzare stuff is now is working Ok , but some Referrer-Policy to add 'Access-Control-Allow-Origin' header and sometimes . said something about Ref

[2021-10-25 01:13] grojas123 commented on #270
The exact error is Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.propublica.org/congress/v1/117/senate/members.json. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing) . I added Access-Control-Allow-Origin : 127.0.0.1 and didn't solve the issue. and even I add with my public IP and  Cross-Origin Request Blocked: The Same Origin P

[2021-11-01 01:13] grumble1965 opened #271 "Bills API needs a num_results field in the resulting JSON"
I can't tell if this is an enhancement request or a bug.

In the JSON response for the (Search) Bills API, it would be useful to have a num_results field with the total number of bills that match the query.  This would allow easier pagination of results, and would align to the results of the Members Privately-Funded Travel JSON.

Thanks!
Kelly

[2021-11-02 21:12] pcraciunoiu opened #272 "Bill status is out of date for several bills (HR586, HR1475, HR721)"
Filing this as it seems to have just come up in our system, some bills are not up to date in the API.

- H.R.586 - STANDUP Act of 20211, passed house on https://www.congress.gov/bill/117th-congress/house-bill/586/text
- H.R.1475 - Pursuing Equity in Mental Health Act, passed house on https://www.congress.gov/bill/117th-congress/house-bill/1475/text
- H.R.721 - Mental Health Services for Students A

[2021-11-10 21:28] negar-mokhberian opened #273 "Older voting data"
I want to get the votes for each bill divided by the number of Republican votes and Democrat votes.
It seems the Json example at https://projects.propublica.org/api-docs/congress-api/votes/ contains the info, but my problem is that it only returns the 20 most recent results. I need the voting data that goes back to 1990.
Could you please explain how can I get the data that I need?

[2021-11-11 00:10] #273 closed, assigned to nobody

[2021-11-29 19:52] nicleary opened #274 "A handful of bills return invalid JSON"
Several bills return JSON which cannot be read by most parsers, such as python's `json.loads()`. These seem to be caused by stray "\" characters in the bill summaries.

An example of this can be found in hr1771-113, where there is an extra \ in the summary, which is followed by a space. This results in an unexpected escape character in most languages, and a JSONDecodeError is thrown.

[2022-01-03 20:23] bdempe18 opened #275 "Missing Chair and ranking member ids"
Calls to endpoint https://api.propublica.org/congress/v1/117/House/committees.json (with proper authentication) yields results with null chair, chair_id, chair_party, chair_state, chair_uri, ranking_member_id fields for all committees.

Partial result....

[code]

[2022-06-27 16:36] lukejgaskell opened #276 "500 Error returned when many requests happen back to back"
### Overview
This workflow has worked for me for about the last year, but recently no longer works. It seems to have stopped working around June 16th 2022.

### My workflow (runs once a day)
 - get members of the house: `https://api.propublica.org/congress/v1/117/house/members.json`
 - get members of the senate `https://api.propublica.org/congress/v1/117/senate/members.json`
 - get details for eac

[2022-06-28 01:28] dwillis commented on #276
@lukejgaskell Thanks for this - we recently implemented some additional rate limiting and we've rolled that back. Can you check to see if this still occurs?

[2022-06-28 01:49] lukejgaskell commented on #276
Hey @dwillis, thanks for the quick response! That seems to have done the trick. I've adjusted the requests to do batches of 50, but please do let me know if you do plan to change that concurrency limit!

[2022-06-28 10:30] dwillis commented on #276
@lukejgaskell sounds good, thanks! would it make sense to offer bulk data on legislators that's updated regularly? If so, how often would make sense?

[2022-06-28 13:25] lukejgaskell commented on #276
@dwillis that would be fine too, for my scenario I really only need daily - since I figure legislator data doesn't update that frequently. I'm currently only making the specific member calls for district information, but i'm also querying expenses for all members so I guess it depends on what would come with that bulk data.

[2022-08-21 20:10] ryparker opened #277 "senate Floor Actions /`floor_updates` API not returning new data since July 5th"
## Problem

The `floor_updates` API has been returning the same data since July 5th. The last senate action description is "The Senate convened today at 6:25am for a pro forma session. Sen. Merkley presided."

## Reproduction

[code]

[2022-10-06 20:18] dawaltconley commented on #276
I ran into this as well for the same use case (getting updated info on MOC no more than once a day). After finding this issue, limiting to 50 concurrent requests seems to have solved it for me as well.

I probably should have guessed that 535 concurrent get requests was a bad idea. 🙃 But I think either documenting the concurrency limits somewhere or clarifying this in the 500 error response messag

[2022-10-26 22:00] styledev opened #278 "Subcommittees missing current members"
The Subcommittees are missing current_members on both senate and house.

**Example endpoint:** senate/committees/SSAF/subcommittees/SSAF15.json
**Site** https://www.agriculture.senate.gov/about/subcommittees

[code]
<img width="1036" alt="Screen Shot 2022-10-26 at 6 00 34 PM" src="https://user-images.githubusercontent.com/12783/198146767-54d8e732-57da-4a8b-93e6-ca6d9571115f.png">

[2022-11-22 08:35] jxxe opened #279 "Reduce and/or hide example responses"
The example JSON payloads can be very large which makes it difficult to scan the docs for headings.

I suggest one or multiple of the following:

1. Shortening examples to only include one example object per array
2. Collapsing examples inside `<details>` elements
3. Storing examples on GitHub and link to them from the docs

For example, [the bills page](https://projects.propublica.org/api-docs/co

[2022-11-22 08:37] jxxe commented on #279
This is similar to #198